.item
{
  height: 112px;
  background: #333;
}
#banner
{
  margin-bottom: 50px;
}
.col-md-1
{
  padding: 0;
}
img
{
  width: 100%;
  height: 100%;
}
.container-fluid
{
  padding-left: 100px;
  padding-right: 100px;
}
